.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin: 0;
  }
  
  /* #region Emblem-Card */
  .emblem-container {
    border: 1px solid #282c34;
    border-radius: 15px;
    width: 250px;
    padding: 8px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .id {
    margin: unset;
  }
  
  .emblem-name {
    margin: auto;
    width: fit-content;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    user-select: none;
  }

  .emblem-tags {
    margin-top: 8px;
    font-weight: 500;
  }

  .emblem-toggle  {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .images {
    width: 150px;
    width: 150px;
    margin: auto;
    user-select: none;
  }
  
  .emblem-icon {
    height:  200px;
    margin: 0;
    align-self: center;
  }
  
  [owned="false"] {
    filter: brightness(30%);
  }
  
  [owned="true"] {
    filter: brightness(100%);
  }
  
  .six-star {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }
  
  .five-star, .four-star{
    background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #b32a2a 0%,
      #8c1d1d 25%,
      #6e1616 50%,
      #4f0f0f 75%,
      transparent 90%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #c74444 0%,
      #a22121 30%,
      #6e1616 70%,
      #4f0f0f 100%
    );
  }  
  
  .three-star {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FFD580 0%, #FFA500 8%, #FF8C00 30%, #CC7000 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFF5E1 0%, #FFDAB9 8%, #CF770A 25%, #A65300 62.5%, #663300 100%);
  }
  
  .two-star, .one-star {
    background-color: mediumblue;
  }
  
  .input-with-button {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }
  
  .filter-input {
    flex: 1;
    padding-right: 2.5rem;
    box-sizing: border-box;
  }
  
  .copy-btn {
    margin-left: -2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
  }
  
  .copy-btn:hover {
    color: #000;
  }
  /* #endregion */
  
  /* #region Filters */
  
  /* Filters Section Styling */
  .filters-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box; /* Ensure padding is included in the container's width calculation */
    /* Ensure filters stay centered even when no content */
    display: flex;
    justify-content: center;
    border: 1px solid #282c34;
  }
  
  /* Each filter group (label + input/select) */
  .filter-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  /* Inline group for Set Number and Owned Status */
  .filter-group-inline {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
  }
  
  /* Filter items inside inline group (Set and Owned dropdowns) */
  .filter-item {
    flex: 1;
  }
  
  /* Label for filter inputs/select */
  .filter-label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
  }
  
  .filter-checkbox {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    cursor: pointer;
  }
  
  /* Dropdowns for Set Number and Owned Status */
  .filter-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }
  
  .filter-dropdown:hover,
  .filter-dropdown:focus {
    border-color: #61dafb;
    outline: none;
  }
  
  /* Input for the Emblem Collection ID */
  .filter-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
  }
  
  .filter-input:hover,
  .filter-input:focus {
    border-color: #61dafb;
    outline: none;
  }
  
  /* Optional: Add placeholder text styling for input */
  .filter-input::placeholder {
    color: #888;
    font-style: italic;
  }
  
  .filters-header {
    display: flex;
    justify-content: space-between;
  }
  
  .filter-toggle,
  .progress-toggle {
    padding: 6px 12px;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
  }
  
  .filter-toggle:hover,
  .progress-toggle:hover {
    background-color: #505050;
  }
  
  .collection-progress {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    border: 1px solid #222;
    color: white;
  }
  
  .progress-filter {
    margin-bottom: 10px;
  }
  
  .progress-filter select {
    margin-left: 10px;
    padding: 5px;
  }
  
  .rarity-progress .rarity-row {
    padding: 4px 0;
  }
  
  #filter-section  {
    margin-top: 10px;
  }
  
  .rarity-progress {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .rarity-row {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .rarity-label {
    width: 50px;
    text-align: right;
  }
  
  .progress-bar-container {
    flex: 1;
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    border-radius: 4px 0 0 4px;
  }
  
  .progress-text {
    width: 120px;
    text-align: right;
    font-size: 0.9em;
  }
  
  .overall-bar {
    background-color: seagreen;
  }
  
  .overall-progress {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  /* #endregion Filters */
  
  /* #region Navbar */
  .navbar {
    position: relative;
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  .hamburger {
    font-size: 24px;
    cursor: pointer;
    display: block;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #444;
  }
  
  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }
  /* #endregion Navbar */

/* #region Info */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.info-container {
  position: relative;
  max-width: 90vw;
  max-height: 90%;
  padding: 1rem;
  box-sizing: border-box;
}

.emblem-modal {
  background: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  max-width: 1200px;
  width: 100%;
}

.modal-image {
  flex: 0 0 336px;
  background: white;
  padding: 1rem;
  text-align: center;
}

.modal-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.emblem-keywords {
  margin-top: 1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.emblem-keywords span {
  background: #007bff;
  color: white;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 4px;
  font-size: 0.85rem;
  display: inline-block;
}

.modal-content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  max-height: 700px;
}

.modal-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.emblem-rarity,
.emblem-type {
  margin-top: 0.5rem;
}

.rarity-stars {
  font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: gold;
    padding: 4px 0;
    border-radius: 0 0 6px 6px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.rarity-stars .far {
  color: #ccc;
}

.type {
  font-weight: bold;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 0.9rem;
}

.type.tech {
  background-color: #17a2b8;
}

.type.brave {
  background-color: #dc3545;
}

.type.heart {
  background-color: #ffc107;
}

.emblem-special-attack,
.emblem-skills {
  margin-top: 1.5rem;
}

.skill-desc {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  line-height: 1;
}

.close-btn:hover {
  color: #000;
}

.chakra {
  height: 1em;
  vertical-align: middle;
}

.icon {
  height: 2em;
  vertical-align: middle;
}

/* #endregion Info */
