/* src/Components/Navbar.css */
.navbar {
    position: relative;
    background-color: #333;
    padding: 10px;
    color: white;
    border-bottom: 1px solid  #222;
  }
  
  .hamburger {
    font-size: 24px;
    cursor: pointer;
    display: block;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #444;
  }
  
  #menu-toggle:checked + .hamburger + .menu {
    display: block;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }