/* #region Emblem-Card */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #endregion */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /* Center items horizontally */
  height: 90vh;         /* full viewport height */
  text-align: center;
}

.logo {
  margin: 2rem 0;  /* Increased margin for more space between sections */
  height: 20vh;
  padding: 2rem 0;
  user-select: none;
}

.logo img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  transition: transform 0.3s ease; /* Smooth transition effect */
}

.logo img:hover {
  transform: scale(1.05); /* Increase size by 5% */
}

#root, html {
  background-color: #333;
}

.link-button {
  display: inline-block;
  padding: 12px 25px; /* Slightly larger padding for better button spacing */
  margin: 10px;  /* Space between buttons */
  background-color: #444;  /* Darker background color for dark mode */
  color: #fff; /* White text to contrast against the dark button */
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;  /* Rounded corners for a modern look */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  /* Subtle shadow for depth */
}

.link-button:hover {
  background-color: #61dafb;  /* A nice blue hover effect */
  transform: translateY(-3px);  /* Lift the button on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  /* Slightly more pronounced shadow */
}

.link-button:active {
  background-color: #21a1f1;  /* A darker shade of blue on click */
  transform: translateY(0);  /* Reset the hover effect on click */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  /* Back to the subtle shadow */
}


#links {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  justify-content: center;
  align-items: center;  /* Center the buttons horizontally */
  margin-top: 1rem;
  gap: 15px;  /* Space between buttons */
}
